.form {
  width: 430px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  color: black;
  border-radius: 10px;
}

.form__title {
  width: 330px;
  font-weight: 900;
  font-size: 24px;
  margin: 24px 64px 44px 36px;
}

.form__delete-title {
  width: 330px;
  font-weight: 900;
  font-size: 24px;
  margin: 24px 64px 0px 36px;
}

.form__input {
  width: 358px;
  height: 28px;
  text-align: left;
  border: 0;
  border-bottom: solid 1px #000000;
  font-size: 14px;
  line-height: 16.94px;
}

.form__submit {
  width: 358px;
  height: 51px;
  color: #ffffff;
  border-style: solid;
  border-radius: 2px;
  border-color: #000000;
  font-size: 18px;
  margin: 28px 0 37px;
  cursor: pointer;
  background-color: #000000;
}

.form__submit:hover {
  opacity: 0.8;
}

.form__error-msg {
  color: red;
  font-size: 12px;
  width: 358px;
  height: 28px;
  text-align: left;
  margin-top: 6px;
}

.form__input_type_error {
  border-bottom: 1px solid red;
}

.form__button_disabled {
  outline: none;
  box-shadow: none;
  color: #cccccc;
  background: #ffffff;
  border-color: #cccccc;
}

@media screen and (max-width: 544px) {
  .form {
    width: 282px;
    height: 322px;
    row-gap: 39px;
  }

  .form__title {
    width: 238px;
    font-size: 18px;
    margin: 25px 22px 35px;
  }

  .form__input {
    width: 238px;
    height: 26px;
  }

  .form__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin: 7px 0 25px;
  }
}
