.header {
  display: block;
  margin: 0 200px;
  padding-top: 45px;
  max-width: 880px;
  height: 74px;
  border-bottom: solid 1px #545454;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 1280px) {
  .header {
    margin: auto;
  }
}

@media screen and (max-width: 544px) {
  .header {
    height: 56px;
    margin: 0;
    padding-top: 0;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 27px;
  }
}
