.profile {
  margin: 40px auto 50px;
  max-width: 880px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  max-width: 120px;
  height: 120px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.profile__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.profile__avatar:hover img {
  filter: brightness(0.2);
}

.profile__avatar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/edit_vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
}

.profile__avatar:hover::before {
  opacity: 1;
}

.profile__info {
  max-width: 417px;
  margin: 22px 165px 21px 30px;
}

.profile__headline {
  margin: 0;
  display: flex;
  align-items: baseline;
}

.profile__title {
  width: 373px;
  height: 39px;
  font-size: 42px;
  font-weight: 500;
  margin: 0 18px 16px 0;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px #fff solid;
  background-image: url(../images/edit_vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__subtitle {
  max-width: 415px;
  height: 22px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.profile__add-button {
  width: 150px;
  min-width: 136px;
  height: 50px;
  border: 1px #fff solid;
  background-image: url(../images/add_vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1028px) {
  .profile__info {
    margin: 22px auto 21px 30px;
  }

  .profile__add-button {
    min-width: 40px;
  }
}

@media screen and (max-width: 930px) {
  .profile__info {
    margin: 22px 30px 21px 30px;
  }
}

@media screen and (max-width: 830px) {
  .profile__add-button {
    width: 100%;
  }
}

@media screen and (max-width: 775px) {
  .profile {
    margin: 42px 19px 36px;
    flex-direction: column;
  }

  .profile__info {
    max-width: 282px;
    margin: 30px 0 36px 0;
  }

  .profile__headline {
    max-width: 224px;
  }

  .profile__title {
    max-width: 196px;
    height: 22px;
    font-size: 22px;
    margin: 0 10px 14px 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7px 7px;
  }

  .profile__subtitle {
    max-width: 282px;
    height: 14px;
    font-size: 14px;
    text-align: center;
  }

  .profile__add-button {
    border: 2px #fff solid;
    background-size: 16px 16px;
    min-width: 282px;
  }
}
